.main {
    color: red;
}

.red {
    color: red;
}

.warp {
    width: 100px;
    height: 100px;
}

::-webkit-input-placeholder {
    color: red;
}

::-moz-placeholder {
    color: red;
}

:-ms-input-placeholder {
    color: red;
}

::-ms-input-placeholder {
    color: red;
}

::placeholder {
    color: red;
}

a:focus,a:hover {
    color: #f40;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

h1.active,h2.active,h3.active,h4.active,h5.active,h6.active {
    font-weight: bold;
}


.a {
    color: red
}


.a .b {
        color: green;
    }


.a > .b {
        color: blue;
    }


.a:hover {
        color: black;
    }

.item {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
    color: rgb(0, 0, 0);

    color: rgba(0, 0, 0, 0.9);

    color: rgb(230, 0, 0);

    color: rgb(128, 128, 128);

    color: rgb(0, 0, 0);
}
